.CartPage{
    background: rgb(18 , 18, 18);
    color: white;
    min-height: 80vh;
    div{
        display: flex;
        justify-content: space-around;
        padding: 2rem;
    }
    section{
        display: inline-block;
        padding: 1rem;
        border: 1px solid grey;
        border-radius: 10px;
    }
    .CartSection{
        width: 65%;
        text-align: center;
        height: 500px;
        overflow-y: scroll;
        img{
            width: 40%;
            margin-inline: auto;
        }
    }
    .DetailsSection{
        width: 25%;
        height: fit-content;
        button{
            display: block;
            width: 100%;
            background: transparent;
            color: white;
            border: 1px solid white;
            border-radius: 5px;
        }
    }
}

@media(width < 500px){
    .CartPage{
        div{
            flex-direction: column-reverse;
            section{
                width: 100% !important;
                div{
                    padding: 0 !important;
                    display: flex;
                    flex-direction: row;
                }
            }
        }
        .CartSection{
            margin-top: 10px;
            height: fit-content;
        }
        
    }
}