.Home{
    width: 100%;
    background: #111;
    // background: linear-gradient(#141E30, #243B55);
    // background: linear-gradient(#333333, #dd1818);
    // background: linear-gradient(to right, #232526, #414345);
    // background: linear-gradient(#232526, #414345);
}
.Background{
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .text{
        position: absolute;
        color: white;
        bottom: 30%;
        left: 10%;
        width: 40%;
        text-align: left;
        text-transform: uppercase;
        h1{
            font-size: 50px;
        }
    }
}

.HomeSection{
    padding: 2rem;
    a{
        font-weight: bold;
        font-size: larger;
        color: white;
        text-decoration: none;
    }
    div{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media(width < 500px){
    .text{
        width: 75% !important;
    }
}