.Footer{
    background: #202020;
    color: white;
    a{
        color: white;
        text-decoration: none;
        // margin-inline: 6px;
    }
    button{
        color: white;
        background: transparent;
        border: none;
    }
}