.nav{
    padding: 20px;
    position: absolute;
    left: 10%;
    width: 80%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    img{
        width: 50px;
        aspect-ratio: 1 / 1;
    }
    a{
        text-decoration: none;
        color: white;
    }
    h1{
        // display: inline-block;
        font-size: 50px;
        display: flex;
        align-items: center;
    }
    ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        li{
            padding: 5px;
            a{
                img{
                    width: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            a:hover{
                color: rgb(0,106,255);
            }
        }
    }
    button{
        border: none;
        outline: none;
        background: transparent;
        img{
            border-radius: 50%;
            object-fit: cover;
        }
    }
}