// *{
//     // outline: 1px solid red;
// }
.NewsCard{
    color: white;
    width: 80%;
    text-align: left;
    padding: 20px;
    text-decoration: none;
    color: white;
    height: 250px;
    display: flex;
    align-items: flex-end;
    h2,p{
        padding: 20px;
    }
    div{
        display: inline-block;
    }
    .NewsImg{
        height: 100%;
        width: 20%;
        overflow: hidden;
        border-radius: 5px;
        img{
            transition: all ease-in-out 0.5s;
            // width: 100%;
            height: 100%;
            object-fit: cover;
            // border-radius: 5px;
        }
    }
    .NewsTxt{
        width: 80%;
    }
    &::after{
        content: '';
        height: 1px;
        display: block;
        background: white;
    }
    &:hover{
        .NewsImg img{
            transform: scale(1.2);
            transition: all 0.5s ease-in-out;
        }
    }
}

@media(width < 500px){
    .NewsCard{
        flex-direction: column;
        .NewsImg{
            display: block;
            width: 100%;
            img{
                width: 100%;
            }
        }
        .NewsTxt{
            width: 100%;
            h2{
                font-size: large;
                padding: 0;
                margin-top: 5px;
            }
            p{
                display: none;
            }
        }
    }
}